/* body formatting */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
/* navigation bar */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #01573e;
  border-bottom: 1px solid #ddd;
}
/* logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #bfa046;
}
/* navigation links in ellipsoid */
.nav-links {
  /* centers nav bar */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* formats elements in nav bar */
  display: flex;
  gap: 25px;
  font-size: 14px;
  background-color: #f1f1f1;
  padding: 20px 25px;
  border-radius: 999px;

  align-items: center;
}
/* each link */
.nav-links a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
/* hover effect */
.nav-links a:hover {
  text-decoration: underline;
}
/* action buttons */
.nav-actions {
  display: flex;
  gap: 10px;
}
/* button creation */
.btn {
  padding: 8px 14px;
  border-radius: 8px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: white;
  cursor: pointer;
}
/* inverses button for sign out */
.btn.black {
  background-color: black;
  color: white;
  border: none;
}
/* hero */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #eaeaea;
  margin: 20px;
}
/* title text in hero */
.hero h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 800;
}
/* smaller text in hero */
.hero p {
  margin-top: 20px;
  font-size: 18px;
  color: #777;
}
/* footer */
.footer {
  background-color: #222;
  color: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
/* logo in the footer */
.footer-logo {
  font-weight: bold;
  color: #4caf50;
}
